.header_menu{
background-color: grey;
width: 100vw;
display: flex;
}
.nav_header_menu{
  display: flex;
  width: 100%;
}
.ul_header_menu{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding:0px;
  margin: 0px;
  height: 100%;
}
.img_header_menu{
  height: 70px;
}
.right_nav_header_menu{
width: 50%;
}
.left_nav_header_menu{
width: 50%;
display: flex;
}
body{
  margin: 0px;
}
.li_header_menu{
  list-style: none;
  margin-right:20px;
  display: flex;
  align-items: center;
}
.H2_header_menu{
  color: orange;
  margin-left: 20px;
}
.table_area{
  width: 100%;
  display: flex;
  justify-content: center;
}
.table_booklist{
  border: 3px solid darkblue;
    padding: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 60%;
}
.tr_th_table_booklist{
  padding: 0px;
  display: flex;
    justify-content: space-between;
    width: 100%;

}
.th_tr_table_booklist{
  padding: 0px;
    border: 2px solid darkblue;
    width: 33%;
    border-collapse: collapse;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tr_td_table_booklist{
  padding: 0px;
  display: flex;
    justify-content: space-between;
    width: 100%;
}
.td_tr_table_booklist{
  padding: 0px;
  border: 2px solid darkblue;
  width:33%;
  height: 25px;
}
.id{
  display: flex;
  justify-content: center;
  align-items: center;
}
